.th {
    padding: 20px 15px;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
    width: 50%;
}

.td {
    padding: 20px 15px;
    border-bottom: 1px solid #2f2f2f;
    width: 50%;
}