<h3>User Details</h3>
<div class="td" *ngFor="let item of allUser; let i = index">
    <div class="row ">
        <div class="col-md-3 "><img src="{{item.picture}}"></div>
        <div class="col-md-6 ">
            <div>
                <h6><b>Name :</b> {{item.title}} {{item.firstName}} {{item.lastName}}</h6>
            </div>
            <div> <b>Email</b> : {{item.email}}</div>
            <a routerLink="/post/{{item.id}}">Check Post</a>
            <div class="row">
                <a class="col-md-3" style="color: red;">
                    <i class="fa fa-trash"></i>
                </a>
                <a class="col-md-3">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
        </div>
    </div>
</div>